In [7]:
import pandas as pd
import numpy as np

In [2]:
print("Cześć!")

Cześć!

In [6]:
X3 = np.random.randn(3, 3)
df = pd.DataFrame(X3, columns = ['col_1', "col_2", "col_3"], index = [

SyntaxError: unexpected EOF while parsing (3527311401.py, line 2)

In [10]:
X = pd.DataFrame(X)
print(X)

          0         1         2         3         4         5         6  \
0  0.903546 -1.679455  0.089294  0.488182 -0.598597  0.065265  1.134569
1  0.174907  0.578424 -0.254896 -0.266926  1.221174 -1.326546  0.151958
2 -1.376119  0.069458  0.143157  1.417783 -1.635714 -0.021300 -0.078569
3 -0.069021  1.325361 -0.578229  1.674710 -0.432434  0.017463 -0.398106
4 -0.852526 -1.012364 -1.236817 -0.112991 -1.555530  1.014424  1.050515
5 -0.040914  0.118637  1.684855 -0.960360 -1.133536 -0.605777 -0.551755
6  0.482396  0.870568  0.534196 -0.656404 -0.225738 -0.158208  0.436231
7  1.803530 -0.324551  1.016114  0.009822  0.473119  0.294780  1.431655
8 -0.902182  0.424371  0.153243  0.364620 -1.456128 -0.106913 -0.718037
9 -0.487075  0.600828 -1.239781  1.311657  0.907018 -0.768236  2.010667

          7         8         9
0 -0.631828  0.515868  0.442928
1 -1.485015  1.260712 -1.436854
2 -0.213892  0.979800 -1.986873
3  0.939498 -0.665088  0.672716
4  1.491052 -0.301205  1.189190
5  2.212485  0.215072 -0.465408
6 -0.745023 -0.891218  0.185883
7  1.294608  1.604501  2.049434
8  0.423532 -0.408448  0.345592
9  0.843064  0.751126  0.243693

## Series

In [8]:
!mkdir data

In [13]:
X.to_csv("data/test.csv", index = False)

In [15]:
movie = pd.read_csv("data/test.csv")
movie

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9
0,0,0.903546,-1.679455,0.089294,0.488182,-0.598597,0.065265,1.134569,-0.631828,0.515868,0.442928
1,1,0.174907,0.578424,-0.254896,-0.266926,1.221174,-1.326546,0.151958,-1.485015,1.260712,-1.436854
2,2,-1.376119,0.069458,0.143157,1.417783,-1.635714,-0.021300,-0.078569,-0.213892,0.979800,-1.986873
3,3,-0.069021,1.325361,-0.578229,1.674710,-0.432434,0.017463,-0.398106,0.939498,-0.665088,0.672716
4,4,-0.852526,-1.012364,-1.236817,-0.112991,-1.555530,1.014424,1.050515,1.491052,-0.301205,1.189190
5,5,-0.040914,0.118637,1.684855,-0.960360,-1.133536,-0.605777,-0.551755,2.212485,0.215072,-0.465408
6,6,0.482396,0.870568,0.534196,-0.656404,-0.225738,-0.158208,0.436231,-0.745023,-0.891218,0.185883
7,7,1.803530,-0.324551,1.016114,0.009822,0.473119,0.294780,1.431655,1.294608,1.604501,2.049434
8,8,-0.902182,0.424371,0.153243,0.364620,-1.456128,-0.106913,-0.718037,0.423532,-0.408448,0.345592
9,9,-0.487075,0.600828,-1.239781,1.311657,0.907018,-0.768236,2.010667,0.843064,0.751126,0.243693